*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}

h1{
    background-color: black;
    color: white;
    display: block;
    font-size: 60px;
    margin-bottom: 60px;

}

img{
     height:200px;
     width:200px;
     border-radius:50%;
     border : none;
}

.div{
     display: inline-block;
     margin: 20px;
     border-radius: 50%;
     height:220px;
     width:220px;
     display:flex;
     justify-content: center;
     align-items: center;

}
.div:hover{
    background-color: black;
}
#game{
    text-align: center;
    display: flex;
    justify-content: center;
}
.score{
    font-size: 60px;
    margin-right: 50px;
    margin-left: 50px;
}
.name{
    font-size: 30px;
    margin-right: 50px;
    margin-left: 50px;
}

#message{
    background-color:black;
    color:white;
    border-radius: 20%;
    padding: 20px;
    margin: 50px;
    position: relative;
    top: 30px;
    font-size: 30px;
}
#reset{
    display:inline-block;
    padding: 1rem;
    font-size:1.25rem;
    background-color:#191913;
    color: #fff;
    border-radius: 1rem;
    border:none;
}

.controls{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#bestOf3 {
    display:inline-block;
    padding: 1rem;
    font-size:1.25rem;
    background-color:#191913;
    color: #fff;
    border-radius: 1rem;
    border:none;
}